[Unit]
Description=Node Exporter ( Prometheus metrics exporter )
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prometheus
ExecStart=/opt/node-exporter/node_exporter-{{ version }}.linux-{{ arch }}/node_exporter --web.listen-address=:{{ port }}

[Install]
WantedBy=multi-user.target